/*左侧功能栏*/
#content {
	background-color: black;
	width: 100%;
}
#content_left {
	height: 599px;
	position: relative;
	float: left;
	width: 304px;
	margin-right: -304px;
	border-right: 2px solid rgba(187, 187, 187, 1);
}
#content_left .function_banner {
	width: 210px;
	/*background-color: #a6a6a6;*/
	margin: 10px 0 0 0px;
}
#function_content > li {
	position: relative;
	width: 304px;
	height: 129px;
	margin-top: 31px;
}
#function_content > li a,#function_content > li span {
	position: absolute;
}
#function_content > li span {
	font-size: 65px;
	width: 70px;
	height: 70px;
	/*background-color: black;*/
	top: 26px;
	left: 29px;
	z-index: 2;

}
#function_content a {
	display: block;
	width: 100%;
	height: 129px;
	line-height: 129px;
	text-decoration: none;
	color: rgba(49, 50, 53, 1);
	font-size: 48px;
	padding-left: 141px;
	font-family: SourceHanSansSC-regular;
}
#function_content a:hover{
	background-color: rgba(133, 139, 121, 0.5);
}
#function_content .active >a {
	background-color: rgba(146, 149, 148, 1);
}

/*右侧功能显示*/
#content_right {
	float: right;
	width: 100%;
	background-color: #eee;
}
#content_right .function{
	margin-left: 304px;
	height: 599px;
	overflow-y: scroll;
	position: relative;
    overflow-x: hidden;
}

/*试卷库功能页面显示*/
.function #btnSearch {
	position: absolute;
	font-size: 45px;
	color: #ffffff;
	top: 22px;
	left: 693px;
	width: 88px;
	height: 66px;
	line-height: 66px;
	text-align: center;
	border-radius: 0px 20px 20px 0px;
	background-color: black;
	cursor: pointer;
}
.function #search {
	position: absolute;
	top: 22px;
	left: 242px;
	width: 451px;
	height: 66px;
	border-radius: 20px 0px 0px 20px;
	font-size: 20px;
	padding: 0 11px 0 14px;
}
#loadFile {
	text-align: left;
    position: absolute;
    top: 148px;
    left: 57px;
}
#loadFile > tbody span {
display: inline-block;
width: 669px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
#fileContent .fileName-load{
	width: 670px;
}
.function .mypage {
    position: absolute;
    top: 525px;
    left: 100px;
}
.function .mypage div {
    display: inline-block;
    height: 65px;
    vertical-align: top;
    line-height: 65px;
    margin-left: 10px;
}
.function .mypage ul {
    margin: 0;
}

/*考试页面展示*/
.function .project {
	position: absolute;
	left: 87px;
	top: 104px;
	width: 144px;
	height: 54px;
	color: rgba(49, 50, 53, 1);
	font-size: 36px;
	text-align: left;
	font-family: SourceHanSansSC-regular;

}
#chooseProblem {
	position: absolute;
	box-sizing: border-box;
	padding-left: 30px;
	left: 294px;
	top: 99px;
	width: 500px;
	height: 89px;
	color: rgba(49, 50, 53, 1);
	font-size: 28px;
	font-family: Microsoft Yahei;
	border: 1px solid rgba(187, 187, 187, 1);
}

#chooseProblemBtn {
	position: absolute;
	left: 397px;
	top: 292px;
	width: 324px;
	height: 100px;
	line-height: 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgba(146, 149, 148, 1);
	color: rgba(67, 70, 74, 1);
	font-size: 36px;
	color: #313235;
	text-align: center;
	font-family: SourceHanSansSC-bold;
	border: 1px solid rgba(187, 187, 187, 1);
}
.function {
	font-size: 36px;
}
.function .single , .function .multiply{
	margin: 11px 0 0 9px;
}
.function .subject-content .subject-question {
	width: 943px;
	word-break: break-all;
	margin-left: 36px;
}
.function .subject-content .subject-options {
	margin-left: 94px;
}
.function .subject-content .subject-options .control-content{
	width: 700px;
	display: inline-block;
	word-break: break-all;
	vertical-align:top;
}
.function .subject-content .subject-options input {
	width: 20px;
	height: 20px;
	vertical-align: 4px;
}
#examBtn {
	width: 278px;
	height: 76px;
	margin: 20px 0 20px 314px;
	line-height: 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgba(146, 149, 148, 1);
	color: #313235;
	font-size: 36px;
	text-align: center;
	font-family: SourceHanSansSC-bold;
	border: 1px solid rgba(187, 187, 187, 1);
}

/*展示成绩页面*/
.function .show-score {
	margin: 10px 0 10px 0;
}
.function .show-score> i {
	display: inline-block;
	margin: 0 0 0 355px;
}
.function .show-score> div {
	display: inline-block;
	font-size: 28px;
	margin-left: 100px;
}
.function .subject-content .show-choose {
	position: relative;
	height: 61px;
}
.function .subject-content .subject-userAnswer {
	position: absolute;
	left: 85px;
}
.function .subject-content .subject-answer {
	position: absolute;
	left: 411px;

}
